.resultfield{
    width: 99%;
    text-align: right;
    font-size: 150%;
    padding-top:2%;
    padding-bottom: 2%;
    border-color: black;
    border-left-color: white;
    border-top-color: white;
    border-right-color: darkgray
    
}